# Unity
[Tt]emp/
[Ll]ibrary/
[Oo]bj/
.vs/
.idea/
*.user
*.userprefs

# Logs
Logs/

# VS Code
.vscode/

# Unity Packages
Packages/

# UserSettings
UserSettings/

# Other common Unity files
*.csproj
*.sln
